{
    "3scale": { 
        "Host":"https://3scale-admin.{{ route_subdomain }}",
        "Version":"2.7.0.GA"
    },
    "codeready":{ 
        "Host":"https://devspaces.{{ route_subdomain }}",
        "Version":"3.4.0"
    },
    "Azure": {
        "Attributes": {
            "azure-subdomain": "{{ route_subdomain }}",
        },
        "Host": "{{ route_subdomain | replace('https://', '') }}"
    }
}