apiVersion: "integreatly.org/v1alpha1"
kind: "WebApp"
metadata:
  name: "tutorial-web-app"
  namespace: "solution-explorer"
  labels:
    app: "tutorial-web-app"
spec:
  app_label: "tutorial-web-app"
  template:
    path: "/home/tutorial-web-app-operator/deploy/template/tutorial-web-app.yml"
    parameters:
      IMAGE: quay.io/redhatintegration/tutorial-web-app:latest
      OPENSHIFT_OAUTHCLIENT_ID: "tutorial-web-app"
      OPENSHIFT_OAUTH_HOST: "oauth-openshift.{{ route_subdomain }}"
      OPENSHIFT_HOST: "console-openshift-console.{{ route_subdomain }}"
      INSTALLED_SERVICES: |-
        {{ solution_explorer_services }}
      OPENSHIFT_VERSION: "4"
      WALKTHROUGH_LOCATIONS: https://github.com/RedHat-Middleware-Workshops/service-interconnect-lab-instructions.git