apiVersion: capabilities.3scale.net/v1beta1
kind: Product
metadata:
  name: traveldemo-istio-partner-product
  namespace: "{{ threescale_project }}"
spec:
  name: "Travel Demo Partner Product"
  systemName: traveldemo-istio-partner-product
  metrics:
    hits:
      description: Number of API hits
      friendlyName: Hits
      unit: "hit"
  methods:
    method01:
      friendlyName: TravelDetailsPage
  mappingRules:
    - httpMethod: GET
      pattern: "/travels"
      increment: 1
      metricMethodRef: method01
  applicationPlans:
    basicplan:
      name: "TravelDemo Istio Partner Basic Plan"
      pricingRules:
        - from: 1
          to: 10
          pricePerUnit: "1"
          metricMethodRef:
            systemName: hits
        - from: 11
          to: 20
          pricePerUnit: "3"
          metricMethodRef:
            systemName: hits
        - from: 21
          to: 100000
          pricePerUnit: "10"
          metricMethodRef:
            systemName: hits    
  deployment:
    apicastHosted:
      authentication:
        userkey:
          authUserKey: user_key 
  backendUsages:
    travel-api-istio-backend:
      path: /     
