apiVersion: v1
kind: Secret
metadata:
  name: myopenapi
  namespace: 3scale
type: Opaque
stringData:
  myopenapi.yaml: |
    ---
    openapi: 3.0.2
    info:
        title: Travels-API
        version: 1.0.0
        description: 'Get hotels, flights and Insurance information for a city'
    paths:
        '/travels/{city}':
            summary: 'Get hotels, flights and Insurance information for a city'
            get:
                responses:
                    '200':
                        content:
                            application/json:
                                examples:
                                    Example City:
                                        value:
                                            city: Kiev
                                            createdAt: '2022-10-10T20:34:03Z'
                                            status: Valid
                                            flights:
                                                -
                                                    airline: Red Airlines
                                                    price: 1015
                                                -
                                                    airline: Blue Airlines
                                                    price: 365
                                                -
                                                    airline: Green Airlines
                                                    price: 315
                                            hotels:
                                                -
                                                    hotel: Grand Hotel Kiev
                                                    price: 575
                                                -
                                                    hotel: Little Kiev Hotel
                                                    price: 110
                                            cars:
                                                -
                                                    carModel: Sports Car
                                                    price: 1075
                                                -
                                                    carModel: Economy Car
                                                    price: 330
                                            insurances:
                                                -
                                                    company: Yellow Insurances
                                                    price: 322
                                                -
                                                    company: Blue Insurances
                                                    price: 71
                        description: Get travel information
            parameters:
                -
                    examples:
                        Example City:
                            value: Kiev
                    name: city
                    description: Append the name of the city to the path
                    schema:
                        type: string
                    in: path
                    required: true
                -
                    examples:
                        user_key:
                            value: access_key
                    name: user_key
                    description: Your API Access Key
                    schema:
                        type: string
                    in: query
                    required: true
    components:
        schemas:
            Flights:
                title: Root Type for Flights
                description: ''
                type: object
                properties:
                    airline:
                        description: Airline Name
                        type: string
                    price:
                        format: int32
                        description: Price of the flight
                        type: integer
                example:
                    airline: Red Airlines
                    price: 1015
            Hotels:
                title: Root Type for Hotels
                description: ''
                type: object
                properties:
                    hotel:
                        description: Hotel Name
                        type: string
                    price:
                        format: int32
                        description: Hotel Cost
                        type: integer
                example:
                    hotel: Grand Hotel Kiev
                    price: 575
            Cars:
                title: Root Type for Cars
                description: ''
                type: object
                properties:
                    carModel:
                        description: Model
                        type: string
                    price:
                        format: int32
                        description: Rental Cost
                        type: integer
                example:
                    carModel: Sports Car
                    price: 1075
            Insurance:
                title: Root Type for Insurance
                description: ''
                type: object
                properties:
                    company:
                        description: Company name
                        type: string
                    price:
                        format: int32
                        description: Policy Cost
                        type: integer
                example:
                    company: Yellow Insurances
                    price: 322

